{
  "presets": [
    "node7",
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-0"
  ],
  "plugins": [],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
